.monster {
    width: 250px;
    height: 251px;
    margin: 2% auto;
    /* background: url('https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/blog/monster.png') left center; */
    background: url('../SpriteSheets/ssPVAssustado.png') left top;
    animation: play 1.6s steps(8) infinite;
  }
  
  @keyframes play {
      100% { background-position: -2000px; }
  }